name: Deploy

on:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   uses: actions/setup-node@v2
                with:
                    node-version: '22'
            -   uses: pnpm/action-setup@v2
                # 安装 pnpm
                with:
                    version: 9
            -   run: pnpm install
            -   run: pnpm run build
            -   name: Deploy
                uses: peaceiris/actions-gh-pages@v3
                with:
                    github_token: ${{ secrets.GITHUB_TOKEN }}
                    publish_dir: .vitepress/dist
